sudo: false
cache: bundler
rvm:
  - 2.3.8
  - 2.5.3
services:
  - mysql
gemfile:
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
  - gemfiles/rails50.gemfile
  - gemfiles/rails51.gemfile
install:
  - gem uninstall -aIx bundler
  - gem install bundler -v 1.17.3
  - bundle --version
  - bundle install
script:
  - bundle exec rake test
